.editForm {
    position: relative;
    display: flex;
    margin-top: 30px;
    text-align: center;
    height: 600px;
    width: 800px;   
}

#editPage {
    display: grid;
    background: rgb(27,101,246);
    background: linear-gradient(90deg, rgba(27,101,246,0.4374124649859944) 22%, rgba(41,121,246,0.47102591036414565) 27%);
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
    justify-items: center;

}

.editForm img {
    border-radius: 30px;
    width: 60%;
    height: 500px;
    margin: 0px;
    margin-right: 20px;
}

.editForm div {
    width: 300px;
    display: block;
}

.editForm h2 {
    color: black;
    font-weight: bold;
    font-size: 22px;
    margin-top: 0px;
}

.editForm .btn {
    width: 200px;
    margin-left: 55px;
}